name: Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: macos-15

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: sersoft-gmbh/xcodebuild-action@v3
        with:
          spm-package: .
          scheme: UIComponent
          destination: 'platform=iOS Simulator'
          action: test
