name: Docs

on:
  push:
    branches:
    - main
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  docs:
    runs-on: macos-13

    steps:
    - name: List Xcode installations
      run: sudo ls -1 /Applications | grep "Xcode"
    - name: Select Xcode 15.1
      run: sudo xcode-select -s /Applications/Xcode_15.1.app/Contents/Developer
    - uses: actions/checkout@v3
    - name: Set up Pages
      uses: actions/configure-pages@v4
    - name: Generate Docs
      run: |
        xcrun xcodebuild docbuild \
        -scheme UIComponent \
        -destination 'generic/platform=iOS Simulator' \
        -derivedDataPath "$PWD/.derivedData"
        xcrun docc process-archive transform-for-static-hosting \
        "$PWD/.derivedData/Build/Products/Debug-iphonesimulator/UIComponent.doccarchive" \
        --output-path ".docs" \
        --hosting-base-path "UIComponent"
    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: .docs

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: docs

    steps:
    - name: Deploy Docs
      uses: actions/deploy-pages@v4.0.3
